*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  width: 8rem;
  height: 2rem;
}

.myPosition{
  margin-left: 40%;
  margin-top: 0;
}

// Carousel

.myContainer{
  width: 80%;
  display: block;
  margin: auto;
}

.cSize{
  height: 400px;
  width: 100%;
}

// Searchbox

// .srchContainer{
//   width: 50%;
//   display: block;
//   margin: auto;
//   height: 500px;
// }
