@import "bootstrap-4.4.1/scss/functions";
@import "bootstrap-4.4.1/scss/variables";
@import "bootstrap-4.4.1/scss/mixins";

//optional
@import "bootstrap-4.4.1/scss/utilities";
@import "bootstrap-4.4.1/scss/reboot";
@import "bootstrap-4.4.1/scss/grid";
@import "bootstrap-4.4.1/scss/buttons";
@import "bootstrap-4.4.1/scss/images";
@import "bootstrap-4.4.1/scss/jumbotron";
@import "bootstrap-4.4.1/scss/transitions";
@import "bootstrap-4.4.1/scss/type";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  // background: black;
}

//Universal classes

.center{
  display: block;
  margin: auto;
}

.logo{
  width: 4rem;
  height: 4rem;
}

// .myPosition{
//   margin-left: 40%;
//   margin-top: 0;
// }

// Carousel

.myContainer{
  width: 90%;
  display: block;
  margin: auto;
}

.cont{
  width: 100%;
}

.cSize{
  height: 400px;
  width: 100%;
}

.clearfix::after{
  float: none;
}

// vehicles
.vCard{
  width: 200px;
  height: 300px;
  float: left;
}

.cardContent{
  width: 100%;
  padding: 0;
  margin: 0;
}

// small stars
.smaller{
  width: 100px;
  height: 30px;
}

//modal

// .myModal{
//   background: cornsilk;
//   // height: 100%;
//   width: 100%;
//   display: none;
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   z-index: 5;
// }

.closeBar{
  font-size: 40px;
  cursor: pointer;
}

// number of days
.days{
  width: 75px;
}

.book{
  cursor: pointer;
}


// Enter Destination autofill

/* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
     #map {
       width: 90%;
       height: 400px;
       display: block;
       margin: auto;
     }
     /* Optional: Makes the sample page fill the window. */
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }
     .controls {
       margin-top: 10px;
       border: 1px solid transparent;
       border-radius: 2px 0 0 2px;
       box-sizing: border-box;
       -moz-box-sizing: border-box;
       height: 32px;
       outline: none;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
     }

     #origin-input,
     #destination-input {
       background-color: #fff;
       font-family: Roboto;
       font-size: 15px;
       font-weight: 300;
       margin-left: 12px;
       padding: 0 11px 0 13px;
       text-overflow: ellipsis;
       width: 200px;
     }

     #origin-input:focus,
     #destination-input:focus {
       border-color: #4d90fe;
     }

     #mode-selector {
       color: #fff;
       background-color: #4d90fe;
       margin-left: 12px;
       padding: 5px 11px 0px 11px;
     }

     #mode-selector label {
       font-family: Roboto;
       font-size: 13px;
       font-weight: 300;
     }
